.body {
    font-family: 'Poppins';
}

/* Login */
/* Login */
* {
    font-family: 'Poppins';
}

.login-left {
    width: 600px;
    height: 600px;
    margin-top: 175px;
    margin-bottom: 175px;
    margin-left: 96px;
}

.login-right {
    margin-top: 25%;
    margin-bottom: 182px;
    margin-left: 15%;
    margin-right: 134px;
}

.arrowlogin {
    display: flex;
}

.login-right p {
    margin-top: 40px;
    margin-left: 70px;
}

.logo {
    margin-left: 65px;
    margin-bottom: 60px;
}

.logologin {
    width: 237px;
    height: 114px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.logo2 {
    width: 324px;
    height: 114px;
    margin-left: 34px;
    margin-bottom: 81px;
}

.masuk {
    text-align: center;
}


.button1 {
    margin-top: 16px;
}

.button2 {
    margin-left: 0px;
    margin-top: 16px;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

/* Login - Admin */

.masuk {
    font-weight: 700;
    font-size: 24px;
}

.login-right-admin {
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.login-left-admin {
    width: 466px;
    height: 466px;
    margin-top: 242px;
    margin-left: 127px;
    margin-bottom: 242px;
}

.login-right-admin p {
    margin-top: 40px;
    margin-left: 140px;

}

.masuk-admin {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

/* register */

.regist-left {
    margin-top: 148px;
    margin-left: 112px;
    margin-right: 131px;
    margin-bottom: 191px;
    width: 608px;
    height: 611px;
    left: 112px;
    top: 155px;
}

.regist-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins';
}

.regist-right {
    width: 452px;
    height: 658px;
    left: 854px;
    top: 146px;
}

.bg-green {
    background-color: seagreen;
}

/* profile */

.profile-right {
    margin-top: 50px;
    margin-bottom: 892px;
    margin-left: 422px;
    margin-right: 146px;
    width: 872px;
    height: 572px;
    left: 422px;
    top: 199px;
    background: #EFEFEF;
    border-radius: 20px;
}

.profile-left {
    position: absolute;
    width: 79px;
    height: 38px;
    margin-left: 96px;
    margin-top: 110px;
    
}

.text-profile {
    /* position: absolute; */
    text-align: center;
    width: 75px;
    height: 34px;
    margin-left: 195px;
    margin-top: 114px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;

    

}

.icon-1 {
    position: absolute;
    width: 36px;
    height: 36px;
    margin-left: 96px;
    margin-top: 50px;
    margin-bottom: 892px;
    margin-right: 146px;
}

.text-profile-1 {
    position: absolute;
    text-align: center;
    width: 106px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 195px;
    margin-top: 54px;
    color: #008864;


}

.icon-2 {
    position: absolute;
    width: 36px;
    height: 36px;
    margin-left: 96px;
    margin-top: 105px;
    margin-bottom: 892px;
    margin-right: 146px;
}

.text-profile-2 {
    position: absolute;
    text-align: center;
    width: 68px;
    height: 28px;
    margin-left: 195px;
    margin-top: 105px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #333;
}
