/* Login */
.login-left {
    width: 600px;
    height: 600px;
    margin-top: 175px;
    margin-bottom: 175px;
    margin-left: 96px;
}

.login-right {
    margin-top: 25%;
    margin-bottom: 182px;
    margin-left: 15%;
    margin-right: 134px;
}

.arrowlogin {
    display: flex;
}

.login-right p {
    margin-top: 40px;
    margin-left: 110px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.masuk {
    text-align: center;
}

.button1 {
    margin-top: 16px;
}

.button2 {
    background-color: white;
    margin-top: 16px;
    color:#008864;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

/* Login - Admin */
.login-right-admin {
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.login-left-admin {
    width: 466px;
    height: 466px;
    margin-top: 242px;
    margin-left: 127px;
    margin-bottom: 242px;
}

.login-right-admin p {
    margin-top: 40px;
    margin-left: 130px;

}

.masuk-admin {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}


}

/* register */
.regist-left {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.regist-right {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

.arrowregister {
  display: none;
}

.regist-right p {
  margin-top: 40px;
  margin-left: 85px;
}

.regist-right h1 {
  font-weight: bold;
  font-size: 24px;
  color: black;
  font-weight: 700;
}

