/* Login */
.login-left {
    width: 600px;
    height: 600px;
    margin-top: 175px;
    margin-bottom: 175px;
    margin-left: 96px;
}

.login-right {
    margin-top: 25%;
    margin-bottom: 182px;
    margin-left: 15%;
    margin-right: 134px;
}

.arrowlogin {
    display: flex;
}

.login-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.masuk {
    text-align: center;
}

.button1 {
    margin-top: 16px;
}

.button2 {
    background-color: white;
    margin-top: 16px;
    color:#008864;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
}